*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    flex-direction: row;
    height: 5vh;

    justify-content: space-between; /* в итоге, как я понял, 10vw в хедере остаётся на gap, который задаётся этим свойством */
}

.search{
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    width: 6.5%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%; 
    position: absolute;
    left: 0;
}

.inputsearch{
    width: 90%;
    height: 100%;
    position: absolute;
    border: 2px solid;
    right: 0;
    border-radius: 5px;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 50vw;
    gap: 15px;
}

.menuWrapBlocks{
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 100%;
    justify-content: space-between;
    gap: 10px;
}

.menuWrapBlocks > div{
    width: 33%;
    height: 100%;
    border: 2px solid;
}

.menuWrapCircles{
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 100%;
    justify-content: space-between;
    gap: 15px;
}

.menuWrapCircles > div{
    width: 20%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;
}

.news{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    padding: 5px;
}

.newsTop > .newsArticle{
    height: 15%;
    border: 1px solid;
}

.newsStart{
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 15%;
}

.newsStart1{
    width: 10%;
    border-radius: 50%;
    border: 2px solid;
}

.newsStart2{
    width: 90%;
    border: 2px solid;
    border-radius: 5px;
}

.news > div{
    width: 100%; /* проценты, т.к у них относительно род. блока */
}


.newsBottom > div{
    height: 15%;
    border: 1px solid;
    background-color: aquamarine;
}

.newsTop, .newsBottom{
    height: 25vh;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    justify-content: space-between;
}

.newsCentral{
    height: 4.5%; /* при приближении страницы становится слишком большим, если указать в пикселях. В процентах (отн. блока .news) теперь margin между ними слишком большой. */
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid;
}

.activity{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
    padding: 5px;
    gap: 15px;
}

.wrap{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100vw;
    height: 100vh; /* несмотря на то, что указано 100 процентов от видимого окна браузера, он всё равно не сжимает header.. */
}

.createPost{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    padding: 15px;
    border: 2px solid;
    gap: 5px;
}

.postText{
    width: 100%;
    height: 55%;
    border: 2px solid;
}

.postButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    gap: 5px;
}

.postButtons > div{
    height: 100%;
    width: 25%;
    border: 2px solid;
}

.postSendWrap{
    border: none;
}

.postSend{
    width: 50%;
    height: 100%;
    border: 2px solid;
}

.stories{
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    border: 2px solid;
    padding: 15px;
    gap: 5px;
}

.storyImgWrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 7px;
}

.storyImg{
    width: 25%;
    height: 100%;
    border: 2px solid;
}

.recently{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    border: 2px solid;
    padding: 15px;
    gap: 10px;
}

.recentPerson{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12%;
    position: relative;
    align-items: center; /* центрирование по вертикали */
}

.recentPersonPfp{
    width: 5%;
    height: 100%;
    border: 2px solid;
    position: absolute;
    right: 0;
}

.recentPostWrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    gap: 20px;
}

.recentPostPfp{
    width: 7%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;
}

.recentPostHeading{
    width: 93%;
    height: 100%;
    border: 2px solid;
}

.recentPostText{
    width: 100%;
    height: 25%;
    border: 2px solid;
}

.recentPostImg{
    width: 100%;
    height: 60%;
    border: 2px solid;
}

.relatable{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    padding: 5px;
    gap: 15px;
}

.blank{
    width: 100%;
    height: 12%;
    border: 2px solid;
}

.viewHistory{
    display: column;
    width: 100%;
    height: 50%;
    border: 2px solid;
    padding: 15px;
}

.listingGridWrapper{
    display: grid;
    gap: 5px;
    width: 100%;
    height: 80%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.listingImg{
    border: 2px solid;
}

.people{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 38%;
    border: 2px solid;
    padding: 10px;

}

.peopleStart{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.peopleStartText{
    position: absolute;
    left: 0;
}
.peopleStartSeeAll{
    position: absolute;
    right: 0;
}

.peopleWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    gap: 10px;
}

.peopleWrapper > div{
    width: 100%;
    height: 33%;
    border: 2px solid;
}
