.logo
body{
    color:rgb(255, 255, 255)
}
body{
    background-image: url(abstractblack.jpg);
    background-size: 100%;
}
.logo{
    width: 200px;;
}
.header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 10px 15px rgb(151, 126, 126)
}
.logo:hover{
    width: 270px;
}
.desk_os{
    border-radius: 10px;
    background-image: linear-gradient(#72A0C1,#318CE7);
    width: 50%;
}
.mob_os{
    border-radius: 10px;
    background-image: linear-gradient(#72A0C1,#318CE7);
    width: 50%;
}
.general{
    width: 50%;
    border-radius: 10px;
    background-image: linear-gradient(#72A0C1,#318CE7);
}
.btn_os{
    width: 100px;
    background-color: #318CE7;
    text-decoration: none;
    border-radius: 5px;
}
.maintext{
    color: rgb(255, 255, 255)
}