.mainheading{
    color:white;
    text-align: center;
    font-size: 52px;
}

.heading{
    color:white;
    text-align:center;
    font-size: 40px;
    background-color:rgb(54, 68, 196)
}

ul{
    color:white;
}

p{
    color:white;
}

body{
    background:linear-gradient(rgb(19, 19, 90), 80%, black);
}
